NEXT_PUBLIC_ALADHAN_API=https://api.aladhan.com/v1
NEXT_PUBLIC_QURAN_API=https://api.alquran.cloud/v1
NEXT_PUBLIC_HADITH_API=https://api.hadith.gading.dev
AI_API_KEY=
AI_MODEL=openai/gpt-4o-mini
AI_API_BASE_URL=https://openrouter.ai/api/v1/chat/completions
